/* Tags */
body {
  padding: 0%;
  margin: 0%;
}
main {
  background-color: #e6e6e6;
}
footer {
  background-color: #cccccc;
  height: 100%;
}

/* IDs */
#homeMain {
  background-color: #f2f2f2;
  border-radius: 30px;
}
#hero {
  background-color: black;
}
#skwrHseHero {
  width: 800px;
}
#bannerOverlay {
  color: white;
}
#logo {
  width: 5rem;
  height: 5rem;
}
#footerSocial {
  width: 2rem;
  height: 2rem;
}
#tblRow {
  outline-style: dotted;
}

#flavour {
  font-size: 10px;
}

/* Classes */
.card {
  text-align: center;
}
